<p style="color: green"><%= notice %></p>

<%= render @song_group %>

<div>
  <%= link_to "Edit this song title", edit_admin_song_group_path(@song_group) %> |
  <%= link_to "Back to song titles", admin_song_groups_path %>
</div>
