<p>
  <strong>Group members</strong>:
  <% band.band_memberships.each do |i| %>
    <%= link_to i.artist.stage_name, i.artist %>
    <%= "(#{i.role_en}) / (#{i.role_ru})" if i.role %><% concat (", ") if band.band_memberships.last != i %>
  <% end %>
</p>