<p style="color: green"><%= notice %></p>

<%= render @artist %>

<div>
  <%= link_to "Edit this artist", edit_admin_artist_path(@artist) %> |
  <%= link_to "Back to artists", admin_artists_path %>
</div>
