<style type="text/css">
    .Table
    {
        display: table;
        width: 90%;
        margin: auto;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<div class="Table">
    <div class="Title">
        <p>This is a Table</p>
    </div>
    <div class="Heading">
        <div class="Cell">
            <p>Name</p>
        </div>
        <div class="Cell">
            <p>Description</p>
        </div>
        <div class="Cell">
            <p>Frequency</p>
        </div>
    </div>

    <% tags.each do |tag| %>
      <div class="Row">
          <div class="Cell">
              <p><%= link_to tag.name, tag %></p>
          </div>
          <div class="Cell">
              <p><%= tag.description %></p>
          </div>
          <div class="Cell">
              <p><%= tag.frequency %></p>
          </div>
      </div>
    <% end %>
</div>