<div id="<%= dom_id record %>">
  <p>
    <strong>Tech info:</strong>
    <%= record.tech_info %>
  </p>

  <p>
    <strong>Category:</strong>
    <% tag = record.category %>
    <%= render "shared/tag_display", tag: tag, url_scope: nil if tag.visible %>
  </p>

  <p>
    <strong>Format:</strong>
    <% tags = record.format_tags.visible %>
    <%= render "shared/tag_array_display", tags: tags, url_scope: nil %>
  </p>
</div>
