<p style="color: green"><%= notice %></p>

<h1>Songs</h1>

<div class="page-intro">
  <p><%= t(:songs_index_intro) %></p>
</div>

<div id="songs">
  <% @songs.each do |song| %>
    <%= render song %>
    <p>
      <%= link_to "Show this song", song %>
    </p>
  <% end %>
</div>
