<p style="color: green"><%= notice %></p>

<h1>Song titles</h1>

<div id="song_titles">
  <% @song_titles.each do |song_title| %>
    <%= render song_title %>
    <p>
      <%= link_to "Show this song title", song_title %>
    </p>
  <% end %>
</div>
