<h1>Preferences (user mode)</h1>

<%= form_with(url: users_preferences_update_path, method: "post") do |form| %>
  <div>
    <% I18n.available_locales.each do |locale| %>
      <% checked = locale == I18n.locale %>
      <%= radio_button_tag "preferences[language]", locale, checked, id: locale %>
      <%= label_tag locale, locale %><br>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
