<div id="<%= dom_id category %>">
  <%= render "shared/tag", tag: category %>

  <%= turbo_frame_tag "records", src: category_records_path(category), loading: :lazy, target: "_top" do %><% end %>
</div>
