<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="playlist" aria-labelledby="playlist-label" data-turbo-permanent>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="playlist-label">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p><%= Time.zone.now %></p>
  </div>
</div>
