<%= turbo_frame_tag "player",
data: { 
  turbo_permanent: true,
  controller: "player",
  action: "track-selector:select@window->player#activate track-selector:buttonConnect@window->player#onButtonConnect"
} do %>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Equalizer</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div data-player-target="eq"></div>
    </div>
  </div>

  <footer class="footer">
    <div class="player-container">
      <div class="player-element" id="title-container">
        <span data-player-target="title"></span>
      </div>

      <div class="player-element" id="play-btn-container">
        <button class="play-button-disabled" type="button" data-player-target="playButton" data-action="click->player#handleSameTrack" disabled>    </button>
      </div>

      <div class="player-element" id="waveform-container" data-player-target="waveForm"></div>

      <div class="player-element" id="settings-btn-container">
      </div>

      <div class="player-element" id="audio-container">
        <audio id="audioElement" type="audio/mp3"></audio>
      </div>
    </div>
  </footer>
<% end %>