<div id="<%= dom_id song_group %>">
  <p>
    <strong>Title:</strong>
    <%= song_group.title %>
  </p>

  <p>
    <strong>Songs with this title:</strong>

    <% song_group.songs.order(:full_title).each do |song| %>
      <div><%= link_to song.human_full_title, song %></div>
    <% end %>
  </p>
</div>
