<p style="color: green"><%= notice %></p>

<h1>Song titles</h1>

<div id="song_titles">
  <% @song_titles.each do |song_title| %>
    <%= render song_title %>
    <p>
      <%= link_to "Show this song title", admin_song_title_path(song_title) %>
    </p>
  <% end %>
</div>

<%= link_to "New song title", new_admin_song_title_path %>
