<p style="color: green"><%= notice %></p>

<%= render @song_title %>

<div>
  <%= link_to "Edit this song title", edit_admin_song_title_path(@song_title) %> |
  <%= link_to "Back to song titles", admin_song_titles_path %>
</div>
