<div data-controller="previews">
  <%= form.label :image, style: "display: block" %>
  <%= form.file_field :image,
    direct_upload: true,
    data: { previews_target: "input", action: "change->previews#preview" } %>

  <div class="image-container">
    <% if obj.image.attached? %>
      <%= image_tag obj.image, data: { previews_target: "preview" }, class: "img-upload-preview" %>
    <% end %>
  </div>
</div>
