<div id="<%= dom_id record %>">
  <p>
    <strong>Tech info:</strong>
    <%= record.tech_info %>
  </p>

  <p>
    <strong>Category:</strong>
    <% tag = record.category%>
    <%= render partial: "shared/tag_display", locals: { tag: tag } %>
  </p>
</div>
