<div>
  <% web_images.each do |web_image| %>
    <%= link_to "Delete #{web_image.blob.filename}", purge_admin_attachment_path(web_image), data: { turbo_method: :delete }, class: "btn btn-danger" %>
  <% end %>
</div>