<h1>Editing record</h1>

<%= render "form", record: @record %>

<br>

<div>
  <%= link_to "Show this record", @record %> |
  <%= link_to "Back to records", admin_records_path %>

  <%= button_to "Destroy this record", @record, method: :delete %>
</div>
