<p style="color: green"><%= notice %></p>

<%= render @record %>

<div>
  <%= link_to "Edit this record", edit_admin_record_path(@record) %> |
  <%= link_to "Back to records", admin_records_path %>
</div>
